<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - سیستم احراز هویت</title>

    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/auth.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <main class="auth-content">
        @RenderBody()
    </main>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>